.root {
  padding-top: 10px;
  background-color: #F0F0F0;
  text-align: center;
  height: 100%;
}

.wrapper {
  background: #FFF;
  width: 500px;
  height: 150px;
  border: solid 1px #ccc;
  margin: 20px auto;
}

.msg {
  text-align: left;
  margin: 20px;
  padding-left: 20px;
  height: 80px;
}

.content {
  height: 100%;
}

.action {

}

.button {
  composes: button from 'components/Right/styles.css';
  margin-left: 0;
  margin-right: 20px;
}
