.root {
  float: left;
  right: 80%;
  width: 100%;
  border: solid 1px #ccc;
  border-left: none;
}

.header {
  font-size: 14px;
  border-bottom: solid 1px #ccc;
  overflow: hidden;
}

.header h2 {
  float: left;
  margin: 0;
  padding: 20px;
}

.action {
  float: right;
  padding: 20px;
}

.button {
  font-size: 14px;
  border: solid 1px #ccc;
  background-image: linear-gradient(to bottom,#d9d9d9 0,#b5b5b5 100%);
  padding: 3px 50px;
  border-radius: 4px;
  color: #3c3c3c;
  margin-left: 20px;
  cursor: pointer;
}

.content {
  clear: both;
}

.content article {
  padding: 20px;
}
