.root {
  width: 30%;
  float: left;
  border: solid 1px #ccc;
  overflow:hidden;
  position:relative;
  left: 0;
}

.search {
  margin: 20px;
}

.search input {
  width: 100%;
  border: solid 1px #ccc;
  padding-left: 15px;
}

.list {
  margin: 20px;
  border: solid 1px #ccc;
  padding: 0;
  height: 999px;
}

.item {
  border: solid 1px #acacac;
  background-color: #ccc;
  color: #5c5c5c;
  font-weight: bold;
  padding: 5px;
  margin: 10px;
}
